.graph-iot-analog {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .graph-iot-analog {
    max-width: 340px;
  }
}
.graph-iot-analog .plani-text {
  position: absolute;
  white-space: nowrap;
  font-size: 12px;
  top: 100%;
  text-align: center;
  font-weight: 500;
  transform: translateY(10px);
}
@media screen and (max-width: 767px) {
  .graph-iot-analog .plani-text {
    white-space: normal;
  }
}
.graph-iot-analog .circule {
  width: 55px;
  height: 55px;
  position: relative;
  border: 2px solid var(--cyan);
  border-radius: 55px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .graph-iot-analog .circule {
    --size: 31px;
    height: var(--size);
    width: var(--size);
    aspect-ratio: 1/1;
  }
}
.graph-iot-analog .circule .sm {
  display: block;
  width: 18.3333333333px;
  height: 18.3333333333px;
  border: 2px solid var(--ink-3);
  border-radius: 55px;
}
@media screen and (max-width: 767px) {
  .graph-iot-analog .circule .sm {
    --size: 6px;
    height: var(--size);
    width: var(--size);
    aspect-ratio: 1/1;
  }
}
.graph-iot-analog .arrow {
  width: 80px;
  height: 2px;
  position: relative;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
@media screen and (max-width: 767px) {
  .graph-iot-analog .arrow {
    max-width: 45px;
    width: 100%;
  }
}
.graph-iot-analog .arrow::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -3px;
  width: 0px;
  height: 0px;
  border-top: 12px solid var(--cyan);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  transform: rotate(30deg);
}
.graph-iot-analog .dataloger {
  width: 120px;
  height: 55px;
  border: 2px solid var(--muted);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.graph-iot-analog .dataloger .plani-text {
  transform: translateY(20px);
}
.graph-iot-analog .dataloger .data-log-info {
  width: 75px;
  height: 42px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #75ecff, var(--cyan), #338693);
  border: inset 1px var(--cyan);
}
.graph-iot-analog .dataloger .data-log-info .text {
  display: block;
  text-align: center;
  line-height: 1.2;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--ink-3);
}
.graph-iot-analog .dataloger .anteena {
  position: absolute;
  right: 10px;
  width: 6px;
  height: 45px;
  background: var(--ink-3);
  bottom: 100%;
  transform: translateY(-2px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.graph-iot-analog .dataloger .anteena::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 8px;
  width: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--ink-3);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.graph-iot-analog .dataloger .data-line {
  position: absolute;
  bottom: 100%;
  transform: translateY(-2px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 4px;
  height: 10px;
  background: var(--ink-3);
  border: 1px solid var(--ink-3);
}
.graph-iot-analog .dataloger .data-line.a {
  left: 8px;
}
.graph-iot-analog .dataloger .data-line.b {
  left: 16px;
}
.graph-iot-analog .dataloger .data-line.c {
  bottom: auto;
  top: 100%;
  width: 6px;
  left: 10px;
  transform: translateY(1px);
  border-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.graph-iot-analog .dataloger .data-jack-cover {
  position: absolute;
  top: 100%;
  width: 50px;
  height: 10px;
  left: auto;
  right: 10px;
  transform: translateY(1.5px);
  border-radius: 0;
  background: #539453;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 3px;
  gap: 0px;
}
.graph-iot-analog .dataloger .data-jack-cover .jack {
  width: 5px;
  height: 5px;
  background: #ffffff;
  border-radius: 52px;
  border: 1px solid var(--ink-2);
}
.graph-iot-analog .dataloger .dat-lo {
  position: absolute;
  width: 12px;
  height: 25px;
  border: 2px solid var(--line);
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  animation: blink 2s ease-in-out infinite;
}
.graph-iot-analog .dataloger .dat-lo.a {
  border-left: 0px solid transparent;
  left: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.graph-iot-analog .dataloger .dat-lo.b {
  right: 0;
  border-right: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  animation-delay: 1s;
}
.graph-iot-analog .cloDash {
  display: flex;
  max-width: 280px;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.graph-iot-analog .cloDash .das-arrow {
  max-width: 68px;
  width: 100%;
  position: relative;
  height: 2px;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
.graph-iot-analog .cloDash .das-arrow::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -3px;
  width: 0px;
  height: 0px;
  border-top: 12px solid var(--cyan);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  transform: rotate(30deg);
}
.graph-iot-analog .cloDash .dasInverct {
  flex: 1;
}
.graph-iot-analog .cloDash .dasInverct .sysSc {
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 2/1.2;
  border-radius: 4px;
  position: relative;
  padding: 5px;
  background: linear-gradient(11deg, black, #d0d0d0, black);
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e3fbff;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis {
  height: 90.9090909091%;
  width: 90.9090909091%;
  background: var(--card);
  display: flex;
  flex-wrap: nowrap;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .sclef {
  flex: 1;
  padding: 8px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright {
  width: 33.3333333333%;
  padding: 6px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .piCar {
  display: block;
  width: 30px;
  height: 30px;
  border: 2px solid var(--ink-2);
  border-radius: 30px;
  background: #bae0ff;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .piCar .poi {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 15px solid transparent;
  border-top-color: var(--cyan);
  border-radius: 14px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-end;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat {
  width: 5px;
  background: var(--line);
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(1) {
  height: 25px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(2) {
  height: 20px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(3) {
  height: 15px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(4) {
  height: 10px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(5) {
  height: 5px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(6) {
  height: 0px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(7) {
  height: -5px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(8) {
  height: -10px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(9) {
  height: -15px;
}
.graph-iot-analog .cloDash .dasInverct .sysSc .scren .dis .scright .data-bat .bat:nth-child(10) {
  height: -20px;
}
.graph-iot-analog .cloDash .grpj {
  width: 100%;
  height: 100%;
  border-left: 3px solid var(--line);
  border-bottom: 3px solid var(--line);
  padding-left: 5px;
  padding-bottom: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.graph-iot-analog .cloDash .grpj .li1 {
  width: 100%;
  height: 2px;
  background-color: var(--line);
}
.graph-iot-analog .cloDash .leg {
  width: 12.5%;
  height: 24px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--ink-3);
  background: linear-gradient(0deg, black, #ffffff, black);
  border-top: 0;
}
.graph-iot-analog .cloDash .leg::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  height: 6px;
  background: linear-gradient(134deg, black, #ffffff, black);
  width: 80px;
  transform: translateX(-50%);
  border-radius: 10px;
}
.graph-iot-analog .scadText {
  width: 100%;
  max-width: 130px;
  padding: 8px;
  background: #e6fff2;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--ok);
  color: #15814c;
}

#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .grpj svg {
  width: auto;
  height: 42px;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .grpj svg path {
  stroke: var(--cyan);
  fill: var(--card);
  stroke-width: 1px;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr {
  display: block;
  max-width: 220px;
  width: 100%;
  height: 102px;
  position: relative;
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr {
    max-width: 70px;
  }
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott {
  position: absolute;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott.top {
  right: 0;
  top: 0;
  width: 50%;
  height: 50%;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott.top::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(344deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 20px 12px, 100% 3px;
  animation: bganiB 10s linear infinite forwards;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott.top .domn {
  position: absolute;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 15px;
  bottom: -7px;
  left: -5px;
  border: 2px solid var(--cyan);
  z-index: 1;
  animation: pulBim 1.8s ease-out infinite;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott.bottom {
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott.bottom::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott.bottom::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(344deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 20px 12px, 100% 3px;
  animation: bganiB 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-arr .dott.center {
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-icon {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-icon .mov-icon {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-icon .mov-icon .icn svg {
  display: block;
  width: auto;
  height: 32px;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-icon .mov-icon .icn svg path {
  stroke-width: 0px;
  fill: var(--ink-3);
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-icon .mov-icon .modbox {
  width: 65px;
  height: 21px;
  background: var(--cyan);
  border: 2px solid var(--ink-3);
  border-radius: 2px;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 4px;
}
#multi-parameter-product-main .mp-principle-diagram .graph-iot-analog .mob-icon .mov-icon .modbox .dot {
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
}
#multi-parameter-product-main .mp-principle-diagram .cloude .plani-text {
  transform: translateY(0px);
}
#multi-parameter-product-main .mp-principle-diagram .cloude svg {
  width: auto;
  height: 100px;
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram .cloude svg {
    height: auto;
    width: 65px;
    display: block;
    margin: 0 auto;
  }
}
#multi-parameter-product-main .mp-principle-diagram .cloude svg path {
  stroke-width: 6;
  stroke: var(--cyan);
}
#multi-parameter-product-main .mp-principle-diagram .cloude .bell {
  width: 60px;
  height: 60px;
  border: 2px solid #ff8573;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
#multi-parameter-product-main .mp-principle-diagram .cloude .bell svg {
  height: 40px;
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram .cloude .bell svg {
    width: auto;
    height: 25px;
  }
}
#multi-parameter-product-main .mp-principle-diagram .cloude .bell svg path {
  fill: var(--alert);
  animation: heli 1000ms ease-in-out 0s infinite forwards;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram .info-graph {
    max-width: 130px;
  }
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .infoliicon {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .infoliicon .cin {
  width: 45px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--cyan);
  border-radius: 6px;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .infoliicon .cin svg {
  display: block;
  height: 30px;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .infoliicon .cin.a svg path {
  fill: var(--cyan);
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .infoliicon .cin.b svg path.st0 {
  fill: var(--cyan);
  stroke: transparent;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .infoliicon .cin.b svg path.st1 {
  fill: var(--card);
  stroke: transparent;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .infoliicon .cin.c svg path {
  fill: var(--cyan);
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .infoliicon .cin.c svg path[fill=red] {
  fill: #c94d3b;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb {
  display: block;
  width: 220px;
  height: 118px;
  position: relative;
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb {
    width: 48px;
    height: 116px;
  }
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro {
  position: absolute;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.a {
  left: 0;
  top: 0;
  width: 50%;
  height: 50%;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(344deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 20px 12px, 100% 3px;
  animation: bganiB 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.a .domn {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: -7px;
  right: -5px;
  z-index: 1;
  background: linear-gradient(270deg, #ffffff, #ffffff, #ffffff, rgba(255, 255, 255, 0));
  rotate: 45deg;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.a .domn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  right: 0;
  height: 1.5px;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.a .domn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 3px;
  right: 0;
  height: 1.5px;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite;
  transform-origin: bottom right;
  transform: rotate(85deg);
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.b {
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.b::after {
  content: "";
  position: absolute;
  right: 0px;
  top: -3px;
  width: 0px;
  height: 0px;
  border-top: 12px solid var(--cyan);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  transform: rotate(30deg);
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.c {
  left: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.c::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 12px 3px, 100% 3px;
  animation: bgani 10s linear infinite reverse;
}
#multi-parameter-product-main .mp-principle-diagram .info-graph .arrowLisnb .aaro.c::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(344deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 20px 12px, 100% 3px;
  animation: bganiB 10s linear infinite forwards;
}
#multi-parameter-product-main .mp-principle-diagram .cir {
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--cyan);
  border-radius: 10px;
}
#multi-parameter-product-main .mp-principle-diagram .cir.top-left {
  top: -4px;
}
#multi-parameter-product-main .mp-principle-diagram .cir.top-right {
  right: 0;
  left: auto;
  top: -4px;
}
#multi-parameter-product-main .mp-principle-diagram .cir.bottom-left {
  bottom: -3px;
}
#multi-parameter-product-main .mp-principle-diagram .cir.bottom-right {
  right: 0;
  bottom: -3px;
}

@keyframes bgani {
  100% {
    background-position: -360px 0;
  }
}
@keyframes bganiB {
  100% {
    background-position: 0 -360px;
  }
}
@keyframes pulBim {
  0% {
    box-shadow: 0 0 0 0 rgba(60, 201, 223, 0.4392156863);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(60, 201, 223, 0.0470588235);
  }
}
@keyframes blink {
  0% {
    border-color: var(--line-2);
    background: var(--line-2);
  }
  50% {
    border-color: var(--cyan);
    background: var(--cyan);
  }
  100% {
    border-color: var(--line-2);
    background: var(--line-2);
  }
}
section.IoT-technical .mp-shell figure.mp-dimensions-card .dim-title {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 11px;
  justify-content: center;
  margin-bottom: 1.2em;
}
section.IoT-technical .mp-shell figure.mp-dimensions-card .dim-title span {
  text-transform: uppercase;
}
section.IoT-technical .mp-shell figure.mp-dimensions-card .dim-title .lin {
  flex: 1;
  height: 1px;
  background: var(--line-2);
}
section.IoT-technical .mp-shell figure.mp-dimensions-card img {
  display: block;
  min-height: 250px;
  width: auto;
  height: auto;
  max-height: 300px;
  margin: 0 auto;
}

@keyframes heli {
  0% {
    fill: var(--alert);
  }
  50% {
    fill: #ff4c32;
  }
  100% {
    fill: var(--alert);
  }
}
@keyframes ani_metA {
  0% {
    transform: rotate(0deg);
    fill: var(--cyan);
  }
  25% {
    transform: rotate(12deg);
    fill: var(--alert);
  }
  35% {
    transform: rotate(8deg);
    fill: var(--cyan);
  }
  45% {
    transform: rotate(13deg);
    fill: var(--red);
  }
  50% {
    transform: rotate(0deg);
    fill: var(--cyan);
  }
  75% {
    transform: rotate(-12deg);
    fill: var(--cyan);
  }
  85% {
    transform: rotate(-4deg);
    fill: var(--cyan);
  }
  95% {
    transform: rotate(-9deg);
    fill: var(--cyan);
  }
  100% {
    transform: rotate(0deg);
    fill: var(--cyan);
  }
}
.ani_met {
  transform-origin: bottom center;
  animation: ani_metA 10s ease-in-out 0s infinite;
  transform-style: preserve-3d;
  transform: rotate(45deg);
}

@keyframes blinkCir {
  0% {
    background: var(--cyan);
    border-color: var(--cyan);
  }
  50% {
    background: var(--card);
    border-color: var(--ink);
  }
  100% {
    background: var(--cyan);
    border-color: var(--cyan);
  }
}
.blinkCir {
  animation: blinkCir 1000ms ease-in-out 0s infinite forwards;
}

.mp-section.iot-app-section {
  background: var(--card);
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL {
  --size: 350px;
  position: relative;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  height: calc(var(--size) / 1);
  transform: translate(-50%, -50%);
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg) rotate(calc(51.4285714286deg * (1 - 1)));
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt:nth-child(2) {
  transform: translate(-50%, -50%) rotate(45deg) rotate(calc(51.4285714286deg * (2 - 1)));
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt:nth-child(3) {
  transform: translate(-50%, -50%) rotate(45deg) rotate(calc(51.4285714286deg * (3 - 1)));
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt:nth-child(4) {
  transform: translate(-50%, -50%) rotate(45deg) rotate(calc(51.4285714286deg * (4 - 1)));
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt:nth-child(5) {
  transform: translate(-50%, -50%) rotate(45deg) rotate(calc(51.4285714286deg * (5 - 1)));
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt:nth-child(6) {
  transform: translate(-50%, -50%) rotate(45deg) rotate(calc(51.4285714286deg * (6 - 1)));
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt:nth-child(7) {
  transform: translate(-50%, -50%) rotate(45deg) rotate(calc(51.4285714286deg * (7 - 1)));
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 42%;
  left: 50%;
  transform: translateX(-50%);
  top: 33px;
  background: linear-gradient(344deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
  background-size: 20px 12px, 100% 3px;
  animation: bganiB 10s linear infinite reverse;
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .txt::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: var(--cyan);
  border-radius: 15px;
  left: 50%;
  top: 26px;
  transform: translateX(-50%);
}
.mp-section.iot-app-section .mp-principle-grid .conenctSect .circuleL .center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: var(--cyan);
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--card);
  animation: IotPuls 1.8s ease-out infinite;
}
.mp-section.iot-app-section .mp-principle-grid .commu-box {
  display: block;
}

@keyframes IotPuls {
  0% {
    box-shadow: 0 0 0 0 rgba(60, 200, 223, 0.4);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(60, 200, 223, 0.0705882353);
  }
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram.dashCard-aler .graph-iot-analog {
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.5em 0 0;
    gap: 25px 0;
  }
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram.dashCard-aler .graph-iot-analog .dataloger .plani-text {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram.dashCard-aler .graph-iot-analog .cloDash {
    flex-direction: column;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram.dashCard-aler .graph-iot-analog .cloDash .das-arrow {
    width: 2px;
    height: 45px;
    background: linear-gradient(344deg, transparent, transparent 50%, var(--cyan) 48%, var(--cyan) 100%);
    background-size: 20px 12px, 100% 3px;
    animation: bganiB 10s linear infinite reverse;
  }
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram.dashCard-aler .graph-iot-analog .cloDash .das-arrow::after {
    border-right: 12px solid var(--cyan);
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    transform: rotate(28deg);
    top: auto;
    bottom: 0;
    right: -4px;
  }
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram.dashCard-aler .graph-iot-analog .cloDash .das-arrow .cir.top-left {
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 767px) {
  #multi-parameter-product-main .mp-principle-diagram.dashCard-aler .graph-iot-analog .cloDash .dasInverct {
    flex: auto;
    height: 108px;
    padding: 2px 0;
  }
}

.shell.nav-shell {
  position: static;
}
.shell.nav-shell .nav-dropdown {
  position: static;
}
.shell.nav-shell .nav-dropdown .nav-trigger span {
  color: var(--muted);
  font-size: 14px;
  transform: translateY(0px);
}
.shell.nav-shell .nav-dropdown::after {
  display: none;
}
.shell.nav-shell .nav-dropdown .nav-menu {
  display: none;
}
.shell.nav-shell .nav-dropdown:hover button.nav-link {
  color: var(--cyan);
}
.shell.nav-shell .nav-dropdown:hover button.nav-link span {
  color: var(--cyan);
}
.shell.nav-shell .nav-dropdown:hover .nav-mega-menu {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}
.shell.nav-shell .nav-mega-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% - 15px);
  height: calc(100vh - 66.8px);
  transform: translateY(20px);
  opacity: 0;
  pointer-events: none;
  transition: 0.65ms ease;
  padding-top: 15px;
}
.shell.nav-shell .nav-mega-menu .nav-bg {
  width: 100%;
  height: 100%;
  padding: 15px;
  background: var(--card);
  border-top: 1px solid var(--line-2);
}
.shell.nav-shell .nav-mega-menu .nav-bg .nav-mega-menu-column {
  height: 100%;
}
.shell.nav-shell .nav-mega-menu .card {
  padding: 0 8px;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0 10px;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-grid .nav-btn div {
  pointer-events: none;
  user-select: none;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-grid > div {
  border-bottom: 1px solid var(--line-2);
  padding: 14px 0px;
  transition: 0.5s ease;
  background: var(--card);
  border-radius: 0px;
  cursor: pointer;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-grid > div:hover {
  border-radius: 8px;
  background: linear-gradient(94deg, var(--line), var(--line-2));
  padding: 14px 10px;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-grid > div.active {
  border-radius: 8px;
  background: radial-gradient(circle at 78% 12%, rgba(60, 200, 223, 0.28), transparent 34%), var(--ink);
  padding: 14px 10px;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-grid > div.active .nav-title, .shell.nav-shell .nav-mega-menu .card .nav-header .nav-grid > div.active .nav-subtitle {
  color: var(--card);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-title {
  display: block;
  color: var(--ink);
  font-size: 14px;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-subtitle {
  font-size: 13px;
  color: var(--muted);
  line-height: 1.55;
  text-transform: capitalize;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list {
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .oveflo {
  width: 7400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  transition: 1.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, 1fr);
  opacity: 0;
  transition: 0.7s ease;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-grid.active {
  display: grid;
  opacity: 1;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-grid.active .grid .list-item a .icon, .shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-grid.active .grid .list-item a .list-item-title, .shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-grid.active .grid .list-item a .list-item-subtitle {
  transform: translateX(0px);
  opacity: 1;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  grid-column: span 6/span 6;
  gap: 5px 15px;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item a {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: repeat(2, auto);
  column-gap: 15px;
  padding: 10px 0;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(1) .icon {
  transition-delay: calc(1 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(1) .list-item-title {
  transition-delay: calc(1 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(1) .list-item-subtitle {
  transition-delay: calc(1 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(2) .icon {
  transition-delay: calc(2 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(2) .list-item-title {
  transition-delay: calc(2 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(2) .list-item-subtitle {
  transition-delay: calc(2 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(3) .icon {
  transition-delay: calc(3 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(3) .list-item-title {
  transition-delay: calc(3 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(3) .list-item-subtitle {
  transition-delay: calc(3 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(4) .icon {
  transition-delay: calc(4 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(4) .list-item-title {
  transition-delay: calc(4 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(4) .list-item-subtitle {
  transition-delay: calc(4 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(5) .icon {
  transition-delay: calc(5 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(5) .list-item-title {
  transition-delay: calc(5 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(5) .list-item-subtitle {
  transition-delay: calc(5 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(6) .icon {
  transition-delay: calc(6 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(6) .list-item-title {
  transition-delay: calc(6 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(6) .list-item-subtitle {
  transition-delay: calc(6 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(7) .icon {
  transition-delay: calc(7 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(7) .list-item-title {
  transition-delay: calc(7 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(7) .list-item-subtitle {
  transition-delay: calc(7 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(8) .icon {
  transition-delay: calc(8 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(8) .list-item-title {
  transition-delay: calc(8 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(8) .list-item-subtitle {
  transition-delay: calc(8 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(9) .icon {
  transition-delay: calc(9 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(9) .list-item-title {
  transition-delay: calc(9 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(9) .list-item-subtitle {
  transition-delay: calc(9 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(10) .icon {
  transition-delay: calc(10 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(10) .list-item-title {
  transition-delay: calc(10 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(10) .list-item-subtitle {
  transition-delay: calc(10 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(11) .icon {
  transition-delay: calc(11 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(11) .list-item-title {
  transition-delay: calc(11 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(11) .list-item-subtitle {
  transition-delay: calc(11 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(12) .icon {
  transition-delay: calc(12 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(12) .list-item-title {
  transition-delay: calc(12 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(12) .list-item-subtitle {
  transition-delay: calc(12 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(13) .icon {
  transition-delay: calc(13 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(13) .list-item-title {
  transition-delay: calc(13 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(13) .list-item-subtitle {
  transition-delay: calc(13 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(14) .icon {
  transition-delay: calc(14 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(14) .list-item-title {
  transition-delay: calc(14 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(14) .list-item-subtitle {
  transition-delay: calc(14 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(15) .icon {
  transition-delay: calc(15 * 0.1s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(15) .list-item-title {
  transition-delay: calc(15 * 0.13s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item:nth-child(15) .list-item-subtitle {
  transition-delay: calc(15 * 0.16s);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item .icon {
  grid-row: 1/3;
  grid-column: 1/2;
  border: 1px solid var(--line-2);
  border-radius: 3px;
  width: auto;
  height: auto;
  transform: translateY(60px);
  opacity: 0;
  transition: 0.6s ease-in-out;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item .icon svg {
  --size: 47px;
  width: var(--size);
  height: var(--size);
  stroke-width: 0.5;
  stroke: var(--ink);
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item .list-item-title {
  display: block;
  color: var(--ink);
  font-size: 14px;
  transform: translateY(60px);
  opacity: 0;
  transition: 0.6s ease-in;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .list-item .list-item-subtitle {
  font-size: 13px;
  margin: 2px 0px 0px;
  color: var(--muted);
  line-height: 1.3;
  font-weight: normal;
  max-width: 290px;
  min-height: 33.8px;
  max-width: 230px;
  transform: translateY(60px);
  opacity: 0;
  transition: 0.6s ease-in-out;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .figure {
  grid-column: span 2/span 2;
  padding: 0 15px 10px 0;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .figure img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 9px 9px 0px #093e91;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .more-link {
  margin-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: flex;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .more-link a {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--ink);
  font-weight: 500;
  text-decoration: none;
}
.shell.nav-shell .nav-mega-menu .card .nav-header .nav-list .more-link a span {
  color: var(--ink);
  font-size: 24px;
  line-height: 1;
  flex: 0 0 auto;
}

.primary-nav button {
  padding: 20px 6px;
}
@media screen and (max-width: 767px) {
  .primary-nav button {
    padding: 5px 6px;
  }
}/*# sourceMappingURL=style.css.map */